selenium==3.141.0
lxml==4.9.2
bs4==0.0.1
#beatifulsoup4==4.9.3
#soupsieve==2.2.1
#cryptography==3.4.8
#cffi==1.12
#pycparser==2.20
pysftp==0.2.9
#bcryp==3.2.0
#paramiko==2.7.2
#pynacl==1.4.0
tabula==1.0.5
PyPDF2==1.26.0
tabulate==0.8.9